<div class="d-flex flex-column justify-content-between align-items-center">
  <div class="theme-background w-100">
    <h1 class="mt-3 d-flex flex-row justify-content-center" *ngIf="isEditing">Update Employee</h1>
    <h1 class="mt-3 d-flex flex-row justify-content-center" *ngIf="!isEditing">Add Employee</h1>
  </div>
  <form class="form-style w-75 mr-5 ml-5" [formGroup]="addEditFormGroup">
    <div class="row mt-2">
      <div class="col-md-6">

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control" formControlName="firstName" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" class="form-control" formControlName="lastName"/>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" class="form-control" formControlName="address" />
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="number" id="phone" class="form-control" formControlName="phone" />
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email" />
        </div>
      </div>
    </div>


    <div class="row mt-2">
      <div class="col-md-6">
        <div class="form-group">
          <label for="departmentId">Department</label>
          <select class="form-control" id="departmentId" formControlName="departmentId">
            <option *ngFor="let departent of departments" [value]="departent.departmentId"> {{departent.departmentName}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="role">Role</label>
          <select class="form-control" id="role" formControlName="role">
            <option *ngFor="let role of ROLES" [value]="role">{{role}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6">
        <div class="form-group">
          <label for="basicSalary">Basic Salary</label>
          <input type="number" id="basicSalary" class="form-control" formControlName="basicSalary" min="0"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="allowance">Allowance</label>
          <input type="number" id="allowance" class="form-control" formControlName="allowance" min="0" />
        </div>
      </div>
    </div>

    <div class="row mt-2">

      <div class="col-md-6">
        <mat-checkbox class="form-control" formControlName="isActive">Is Active</mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox class="form-control" formControlName="eligibleForRehire">Eligible to rehire</mat-checkbox>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6">
        <label for="recentAppraisal">Recent Appraisal</label>
        <input type="number" id="recentAppraisal" class="form-control" formControlName="recentAppraisal" />
      </div>
      <div class="col-md-6">
        <label for="joinDate">Joining Date</label>
        <input id="joinDate" class="form-control" type="text" value="today" formControlName="joinDate" readonly>
      </div>
    </div>

    <button class="btn form-control mt-2 theme-background" (click)="submitForm()">SUBMIT</button>
  </form>
</div>

